@import "./utils/variables";
@import "./utils/header";
@import "./utils/main";
@import "./utils/footer";

html {
  box-sizing: border-box;
}

body {
  list-style: none;
  font-family: $font-roboto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.content {
  width: $main-width;
  padding: $main-padding;
  margin-left: $main-margin-left;
  margin-right: $main-margin-right;
}

.headline {
  color: $color-headline;
  font-style: $font-style-norm;
  font-weight: $font-weight-500;
  font-size: $font-size-14;
  line-height: $line-height-16;
}

.headline-ul:not(:last-child) {
  margin-right: 50px;
}

// .icon-team {
//   &:hover,
//   :focus {
//     fill: $color-team-li;
//     background-color: $color-accent;
//   }
// }
.info {
  margin-left: 290px;
}

.display {
  display: flex;
}

.information {
  margin-top: 94px;
}
.headline-text {
  text-align: center;
  margin-bottom: 50px;
  font-style: $font-style-norm;
  font-weight: $font-weight-bold;
  font-size: $font-size-36;
  line-height: $line-height-42;
}
.headline-text-team {
  font-style: $font-style-norm;
  font-weight: $font-weight-bold;
  font-size: $font-size-36;
  line-height: $line-height-42;
  text-align: center;
}
.ul-information {
  justify-content: space-between;
  margin-bottom: 82px;
}
.ahtung {
  font-style: $font-style-norm;
  font-weight: $font-weight-bold;
  font-size: $font-size-14;
  line-height: $line-height-16;
  width: calc((100% - 90px) / 4);
}

.photo {
  margin-bottom: 94px;
}
.photo-container {
  display: flex;
  justify-content: space-between;
}

.item-photo {
  box-shadow: $shadow;
  border-radius: $border-item-photo;
  background-color: $color-team-li;
}
.item-photo {
  .img {
    display: block;
  }
}
.team {
  background-color: $color-team;
  padding-top: 94px;
  padding-bottom: 54px;
}
.team-ul {
  text-align: center;
  justify-content: space-between;
}

.headline-text-team {
  text-align: center;
  margin-bottom: 50px;
}
footer {
  background-color: $color-footer;
  padding: 60px 0px;
}
ul {
  list-style: none;
  padding: 0px;
}
a {
  text-decoration: none;
}
.color-text {
  color: $color-text;
  font-style: $font-style-norm;
  font-weight: normal;
  font-size: $font-size-14;
  line-height: $line-height-24;
}

.adress {
  color: $color-adress;
}

.item-information {
  width: 270px;
  height: 120px;
  background-color: $color-item-information;
  border-radius: 4px;
}

.icon-information {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}
.icon-team {
  fill: $color-icon;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  transition: $transition;

  &:hover,
  &:focus {
    fill: $color-team-li;
    background-color: $color-accent;
  }
}
.icon-client {
  .client-item:hover & {
    transition: $transition;
    fill: $color-accent;
  }
  display: block;
  fill: $color-icon;
}
.footer-link {
  display: flex;
}
.client-text {
  font-style: $font-style-norm;
  font-weight: $font-weight-bold;
  font-size: $font-size-36;
  line-height: $line-height-42;
  text-align: center;
  margin-top: 95px;
  margin-bottom: 50px;
}
.client-ul {
  display: flex;
  margin-bottom: 0px;
}
.client-li {
  width: 170px;
  height: 90px;
  border: $border #afb1b8;
  border-radius: $radius;
}
.client-li {
  &:hover {
    transition: $transition;
    border: $border $color-accent;
  }
}
.client-li:not(:last-child) {
  margin-right: 30px;
}
.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  transition: $transition;
}
.first-client {
  width: 80px;
  height: 45px;
}
.second-client {
  width: 59px;
  height: 47px;
}
.third-client {
  width: 80px;
  height: 42px;
}
.fourth-client {
  width: 80px;
  height: 63px;
}
.fifth-client {
  width: 60px;
  height: 52px;
}
.sixth-client {
  width: 89px;
  height: 45px;
}

.active-link {
  position: relative;
  color: $color-accent;
  &::after {
    position: absolute;
    transform: translateY(40px);
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent;
  }
}
body {
  list-style: none;
}
header {
  border-bottom: $border #ececec;
}
.header {
  display: flex;
}
.header-item {
  display: flex;
}
// .site {
//   &:focus,
//   &:hover {
//     transition: $transition;
//     color: $color-site;
//     background-color: $color-accent;
//   }
//   display: flex;
//   justify-content: center;
//   padding-top: 94px;

//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }
.ssite {
  background-color: $color-ssite;
  border-radius: $radius;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $color-text-portfolio;
}

.add {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  justify-content: space-between;

  margin-top: 50px;
}
.add-item {
  width: calc((100% - 60px) / 3);
  border: $border #eeeeee;
  &:nth-child(n + 4) {
    margin-top: 30px;
  }
  &:focus,
  &:hover {
    transition: $transition;
    border: $border #eeeeee;
    box-sizing: border-box;
    box-shadow: $shadow-add;
  }
}
.name {
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.name-site {
  margin-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.thumb {
  position: relative;
  & > .label {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    width: 100%;
    height: 70px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
    text-align: center;
    padding-top: 27px;

    background: $bgc-label;
  }
}
.product-thumb {
  position: relative;
  overflow: hidden;
  & img {
    display: block;
  }
}
.product-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bgc-product-text;
  transform: translateY(100%);
  transition: $transition;
  .add-item:hover & {
    transition: $transition;
    transform: translateY(0%);
  }
}
.product {
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;

  padding: 63px 24px;
  margin: 0;
}
